<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WorldController</servlet-name>
        <servlet-class>com.nbcc.controllers.WorldController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorldController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DistrictCreated</servlet-name>
        <jsp-file>districtCreated.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DistrictCreated</servlet-name>
        <url-pattern>/districtcreated</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
